---
import Base from "../layouts/Base.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import SocialLink from "../components/SocialLink.astro";
import Skills from "../components/Skills.astro";
import SkillIcon from "../components/SkillIcon.astro";
import Projects from "../components/Projects.astro";
import DevProject from "../components/DevProject.astro";
import DgnProject from "../components/DgnProject.astro";

import resume from "../data/resume.json";
import { devProjectList, dgnProjectList } from "../data/data";

import "../styles/styles.css";
import ImageSlider from "../components/ImageSlider";
---

<Base>
  <Navigation
    title="KUNAL SHARMA"
    pageUrl="/portfolio"
    resumeUrl={resume.developer}
  />

  <Hero>
    <h1 class="text-3xl font-bold">
      Hi there, I'm <span
        class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
        >Kunal</span
      > 👋
    </h1>
    <p class="mt-5 text-xl leading-8">
      I am a front-end developer with experience in UI/UX design for both web
      and mobile. I am proficient in designing, wireframing, and prototyping to
      developing using HTML, CSS, and JavaScript, and currently pursuing React
      and TypeScript to add to my skills. I am passionate about creating
      user-friendly websites and web applications that are easy to use. I have a
      keen eye for detail and I am always willing to learn new skills and
      technologies.
      <a class="text-cyan-400 hover:underline" href="/"></a>
    </p>
    <ul class="mt-5 flex gap-x-5 justify-center md:justify-start">
      <li class="hidden md:block"><p>Connect with me:</p></li>
      <SocialLink
        linkTo="Github"
        link="github.com/iKSM09"
        linkIcon="fa-brands:github-square"
      />
      <SocialLink
        linkTo="Linkedin"
        link="linkedin.com/in/iksm09/"
        linkIcon="fa-brands:linkedin"
      />
    </ul>
  </Hero>

  <Skills header="Skills I know:">
    <SkillIcon name="Figma" icon="logos:figma" />
    <SkillIcon name="HTML" icon="logos:html-5" />
    <SkillIcon name="CSS" icon="logos:css-3" />
    <SkillIcon name="PostCSS" icon="logos:postcss" />
    <!-- <SkillIcon name="Sass" icon="logos:sass" /> -->
    <SkillIcon name="Tailwind" icon="logos:tailwindcss-icon" />
    <!-- <SkillIcon name="Bootstrap" icon="logos:bootstrap" /> -->
    <SkillIcon name="JavaScript" icon="logos:javascript" />
    <SkillIcon name="TypeScript" icon="logos:typescript-icon" />
    <SkillIcon name="React" icon="logos:react" />
    <SkillIcon name="Next.js" icon="file-icons:nextjs" />
    <!-- <SkillIcon name="Vue" icon="logos:vue" /> -->
    <SkillIcon name="Node.js" icon="logos:nodejs-icon" />
  </Skills>

  <Projects name="Dev">
    {
      devProjectList.map((project) => (
        <DevProject
          name={project.name}
          description={project.description}
          image={project.image}
          url={project.url}
          githubLink={project.githubLink}
          techStack={project.techStack}
          madeWith={project.madeWith}
        />
      ))
    }
  </Projects>

  <Projects name="UI/UX">
    <div
      id="img-gallery"
      class="container w3-screen grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3"
    >
      {
        dgnProjectList.map(({ name, path, images, url }) => (
          <DgnProject name={name} path={path} images={images} url={url} />
        ))
      }
    </div>
  </Projects>
</Base>
